body{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

/*ESTO ES EL HEADER*/
header{
    width: 100%;
    height: 60px;
}

header nav{
    display: flex;
    /*this to the right*/
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 210px;
    height: auto;
    display: flex;
    /*remove icon list*/
    list-style: none;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    cursor: pointer;
}

nav .nav-right-section a{
    margin-right: 22px;
    color: black;
}
nav .nav-right-section .AppIcons{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 22px;
    height: 22px;
    background-size: contain;
}
nav .nav-right-section img{
    border-radius: 100px;
    margin-left: 20px;
    /*width: 35px;
    height: 35px;*/
}

/*AQUI EMPIEZA MAIN*/
main{
    /*margin-top: 10px;*/
    text-align: center;
}

main .MainLogo{
    width: 530px;
    margin:  0 auto;
    margin-bottom: 6px;
}
main .MainLogo img{
    width: 350px;
    height: 117px;
}

main .mainInput{
    width: 550px;
    margin: 0 auto;
    margin-bottom: 20px;
}
main .mainInputContainer{
    width: 550px;
    height: 45px;
    border-radius: 80px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .mainInput input{
    border: none;
    width: 420px;
    height: 40px;
    outline: none;
    margin: 10px;
}

main .mainInputContainer:hover{
    box-shadow: 0.5px 1px 1px 1px #20212447;
}

main .mainInput .searchIcon{
    background-image: url("https://cdn-icons-png.flaticon.com/512/107/107122.png");
    background-position: center;
    background-size: contain;
    width: 14px;
    background-repeat: no-repeat;
    height: 14px;
}

main .mainInput .microfonoIcono{
    background-image: url("https://cdn1.iconfinder.com/data/icons/google-s-logo/150/Google_Icons-25-512.png");
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

main .mainInput .camaraIcono{
    background-image: url("https://cdn.discordapp.com/attachments/1078439993271398553/1091819945328914512/lens.png");
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 8px;
}

main .mainButtons{
    width: 530px;
    margin: 0 auto;
}

main .mainButtons div{
    display: inline-block;
}

main .mainButtons button{
    background-color: #f8f9fa;
    color: rgb(73, 70, 70);
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    padding: 11px 18px 11px 18px;
    margin-top: 10px;
    margin-left: 20px;
}

main .mainButtons button:hover{
    box-shadow: 0 1px 1px rgb(0, 0, 0, .1);
    border: 1px solid #dadce0;
    color: #202124;
    cursor: pointer;
}

/*AQUI EMPIEZA FOOTER*/
footer{
    background-color: #f2f2f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;  
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
footer ul{
    margin: 15px;
    list-style: none;
    display: flex;
    padding-left: 0px;
}
footer .footer-left{
    justify-self: left;
}
footer .footer-right{
    justify-self: right;
}
footer ul li a{
    color: #70757a;
    margin: 10px;
}
footer div{
    color: #70757a;
    margin: 10px 100% 10px 24px;
    justify-self: left;
}
hr{
    border-top: 3px solid #bbb;
}